**Swaplevel**

In [1]:
import pandas as pd
import numpy as np

In [2]:
incidents = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/Canadian Railway Crossing Incidents.csv')
incidents.set_index(['Region', 'EventType'], inplace=True)
incidents.sort_index(inplace=True)
incidents.head(10)

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0
                 Serious injuries                 3               0        0
Manitoba         Accidents                        1               3        0
                 Fatalities                       0               1        0
                 Serious injuries                 0               0        0
New Brunswick    Accidents                        0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0
                 Serious injuries     0
Manitoba         Accidents            2
                 Fatalities           0
                 Serious injuries     1
New Brunswick    Accidents            0

Przed zmianą indeksu należy go zresetować

In [4]:
incidents.reset_index(inplace=True)
incidents.set_index(['EventType', 'Region'], inplace=True)
incidents.sort_index(inplace=True)
incidents.head()

                            Public automated  Public passive  Private  Farm
EventType Region
Accidents Alberta                          3               7        2     0
          British Columbia                 4               1        0     0
          Manitoba                         1               3        0     2
          New Brunswick                    0               0        0     0
          Newfoundland                     0               0        0     0

Można to samo zrobić metodą swaplevel()

In [5]:
incidents.swaplevel().head()

                            Public automated  Public passive  Private  Farm
Region           EventType
Alberta          Accidents                 3               7        2     0
British Columbia Accidents                 4               1        0     0
Manitoba         Accidents                 1               3        0     2
New Brunswick    Accidents                 0               0        0     0
Newfoundland     Accidents                 0               0        0     0

In [6]:
incidents.swaplevel().sort_index().head()

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0

In [9]:
incidents = incidents.swaplevel().sort_index()
incidents

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0