**Filteowanie danych w Data Frame**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
frame = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/Mcdonalds.csv',
                   usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

Filtrowanie przez zapisany do zmiennej warunek:

In [6]:
calories_greater_400 = frame['Calories'] >= 400
total_fat_less_20 = frame['TotalFat'] <=20

In [7]:
frame[claories_greater_400].head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [5]:
frame[total_fat_less_20].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,20.0
16,Breakfast,Southern Style Chicken Biscuit (Regular Biscuit),5 oz (143 g),410,20.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0

Można filtrować kilka warunków rozdzielając je &

In [8]:
is_breakfast = frame['Category'] == 'Breakfast'
frame[is_breakfast & calories_greater_400].head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [9]:
frame[is_breakfast & calories_greater_400 & total_fat_less_20].head()

,Category,Item,Serving Size,Calories,TotalFat
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,20.0
16,Breakfast,Southern Style Chicken Biscuit (Regular Biscuit),5 oz (143 g),410,20.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
39,Breakfast,Cinnamon Melts,4 oz (114 g),460,19.0

Zaprzeczenie ~

In [11]:
frame[~ is_breakfast].head()

,Category,Item,Serving Size,Calories,TotalFat
42,Beef & Pork,Big Mac,7.4 oz (211 g),530,27.0
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520,26.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600,29.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610,31.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540,27.0

In [13]:
kolor = ['zielony', 'zielony', 'niebieski', 'niebieski', 'czerwony', 'czerwony', 'biały']
rozmiar = ['S', 'S', 'S', 'M', 'M', 'M', 'L']
płeć = ['M', 'K', 'M', 'K', 'M', 'K', 'U']
clothes = pd.DataFrame({'kolor': kolor, 'rozmiar': rozmiar, 'płeć': płeć})
clothes

       kolor rozmiar płeć
0    zielony       S    M
1    zielony       S    K
2  niebieski       S    M
3  niebieski       M    K
4   czerwony       M    M
5   czerwony       M    K
6      biały       L    U

In [14]:
is_color_blue = clothes['kolor'] == 'niebieski'
is_color_green = clothes['kolor'] == 'zielony'
is_color_red = clothes['kolor'] == 'czerwony'
is_gender_m = clothes['płeć'] == 'M'
is_gender_w = clothes['płeć'] == 'k'
is_size_s = clothes['rozmiar'] == 'S'
is_size_m = clothes['rozmiar'] == 'M'

Operatory logiczne:

& -> i

| -> lub

In [16]:
clothes[is_color_blue & is_gender_m & is_size_s]

       kolor rozmiar płeć
2  niebieski       S    M

In [17]:
clothes[is_color_blue | is_gender_m | is_size_s]

       kolor rozmiar płeć
0    zielony       S    M
1    zielony       S    K
2  niebieski       S    M
3  niebieski       M    K
4   czerwony       M    M

In [19]:
clothes[is_color_blue & is_gender_m | is_size_s]

       kolor rozmiar płeć
0    zielony       S    M
1    zielony       S    K
2  niebieski       S    M

In [20]:
clothes[is_color_blue | is_gender_m & is_size_s]

       kolor rozmiar płeć
0    zielony       S    M
2  niebieski       S    M
3  niebieski       M    K

Nawiasy mają znaczenie

In [21]:
clothes[(is_color_blue | is_gender_m) & is_size_s]

       kolor rozmiar płeć
0    zielony       S    M
2  niebieski       S    M