**Grupowanie a multiindeks**

In [1]:
import pandas as pd
import numpy as np

In [2]:
products = pd.read_csv('C:/Users/Mariusz Baran/Data_Science_kurs/Data_science_pliki/course-files/WA_Sales_Products_2012-14.csv')
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

Dodajemy 2 lub więcej argumentów do groupby

In [5]:
groups = products.groupby(by=['Retailer country', 'Year'])
groups.size().head(10)

Retailer country  Year
Australia         2012    1402
                  2013    1376
                  2014     887
Austria           2012    1436
                  2013    1469
                  2014     957
Belgium           2012    1339
                  2013    1481
                  2014     890
Brazil            2012    1218
dtype: int64

In [9]:
groups.sum().head(10)

                           Revenue  Quantity  Gross margin
Retailer country Year
Australia        2012  25607043.50    522186    625.835424
                 2013  47799737.14    839750    625.650690
                 2014  35893188.50    638845    390.336301
Austria          2012  34568089.63    702134    636.115492
                 2013  44996737.04    803771    665.086198
                 2014  33801788.98    596301    422.637486
Belgium          2012  30396297.49    635694    592.017290
                 2013  38375432.68    662157    667.302813
                 2014  28186839.74    501170    393.968282
Brazil           2012  34234876.30    688643    540.191035

Wypisanie informacji

In [12]:
groups.get_group(('Australia', 2012)).head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
3735,Australia,Telephone,Golf Shop,Personal Accessories,Watches,Mountain Man Digital,2012,Q1 2012,2161.34,53,0.509564
3736,Australia,Telephone,Golf Shop,Personal Accessories,Binoculars,Seeker Mini,2012,Q1 2012,5689.60,70,0.507874
3737,Australia,Telephone,Golf Shop,Personal Accessories,Navigation,Glacier GPS,2012,Q1 2012,17337.34,158,0.284152
3738,Australia,Telephone,Golf Shop,Golf Equipment,Irons,Hailstorm Steel Irons,2012,Q1 2012,96118.50,255,0.413692
3739,Australia,Telephone,Golf Shop,Golf Equipment,Irons,Hailstorm Titanium Irons,2012,Q1 2012,40149.72,46,0.437513